{% extends "/aroma/base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="admin-form-back-to-admin">
    <a href="/change-site-title-details"><button class="btn btn-success admin-button back-to-admin">Back To Tab Control</button></a>
</div>
<form method="post" class="form account-form" enctype="multipart/form-data">
    <h3>Change Tab Icon/Site Favicon</h3>
    {{ favicon_form.csrf_token }}
    {{ favicon_form.new_favicon(class_ = 'form-control', placeholder = favicon_form.new_favicon.label.text) }}
    <input type="submit" value="Submit New Icon" class="btn btn-primary admin-button">
</form>
{% endblock %}