{% extends "/aroma/base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="admin-form-back-to-admin">
    <a href="/admin"><button class="btn btn-success admin-button back-to-admin">Back To Admin</button></a>
</div>
<form method="post" class="form account-form" enctype="multipart/form-data">
    <h3>Change User Agreement</h3>
    {{ form.csrf_token }}
    {{ form.new_agreement(class_ = 'form-control', placeholder = form.new_agreement.label.text) }}
    <input type="submit" value="Submit New Terms" class="btn btn-primary admin-button">
</form>
{% endblock %}