{% extends "/aroma/base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-block alert-error section-error-alert">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div>
    <a class="back-to-admin-link" href="/manage-products"><button class="btn btn-success admin-button">Back To Manage Products Page</button></a>
</div>
<form method="post" class="form account-form" enctype="multipart/form-data">
    <h2>Create Design</h2>
    {{ new_design_form.csrf_token }}
    {{ new_design_form.design_name(class_ = 'form-control', placeholder = new_design_form.design_name.label.text, required = true) }}
    Main Image:
    {{ new_design_form.design_image(class_ = 'form-control', placeholder = new_design_form.design_image.label.text, required = true) }}
    Icon:
    {{ new_design_form.design_icon(class_ = 'form-control', placeholder = new_design_form.design_icon.label.text, required = true) }}
    Inventory Count:
    {{ new_design_form.design_inventory(class_ = 'form-control', placeholder = new_design_form.design_inventory.label.text, required = true) }}
    <input type="submit" value="Create Design" class="btn btn-primary btn-lg btn-block">
</form>

{% endblock %}