{% extends "/aroma/base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form method="post" class="form account-form">
    <h2>Reset Password</h2>
    <h5><a href="/login">Login</a></h5>
    {{ forgot_form.csrf_token }}
    {{ forgot_form.email(class_ = 'form-control', placeholder = forgot_form.email.label.text, required = true) }}
    <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block">
</form>
{% endblock %}