{% extends "/aroma/base.html" %}

{% block content %}
    <main class="site-main">
    <!--================ Hero banner start =================-->
    <section class="hero-banner" style="position: relative; height: 700px; left: 20%">
      <div class="hero-image">
        <div class="hero-text">
            <h3 style="color:white;" id="call-to-action">We provide high quality Bainbridge themed apparel on the Island, let us know what you think! 86th arbitrary change</h3>
            <button class="button" onclick="browse()" id="landing-button-1" style="margin: 10px;">Browse Our Selection</button>
        </div>
      </div>
    </section>

	{% for product in display_products %}
		{% set product_loop = loop %}
		<!--================ Hero banner start =================-->
		<div class="product_image_area" style="margin-top: 75px;">
			<div class="container">
				<div class="row s_product_inner">
					<div class="col-lg-6">
						<div class="owl-carousel owl-theme s_Product_carousel">
							{% for design in designs[product_loop.index-1] %}
								<div class="single-prd-item">
									<img id="bag-product-image{{product_loop.index-1}}" class="img-fluid" src="{{design[3]}}" alt="">
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-lg-5 offset-lg-1">
						<div class="s_product_text">
							<div class="info-and-options">
								<div class="product-info">
									<h3 id="product-name">{{product[1]}}</h3>
									<h2 id="product-price">${{product[2]}}</h2>
									{% if product[3] == 0 %}
										<h5 class="availability">Out of Stock</h5>
									{% else %}
										<h5 class="availability">In Stock</h5>
									{% endif %}
									<h6 class="design-name">{% if designs[product_loop.index-1]|length > 0 %}{{designs[product_loop.index-1][0][2]}}{% endif %}</h6>
								</div>
								<ul class="product-options-area">
									{% if product_loop.index == 1 %}
									<li class="options-menu-item"><select id="t-shirt-size">
										<option>Small</option>
										<option>Medium</option>
										<option>Large</option>
										<option>Extra Large</option>
									</select></li>
									{% endif %}
									<li class="options-menu-item">
										<div id="design-selection" class="card_area d-flex align-items-center">
										{% for design in designs[product_loop.index-1] %}
											<img onclick="goToSlide(this)" src="{{design[4]}}" class="product_design_icon">
										{% endfor %}
											<ul class="design_names" style="display: none;">
												{% for design in designs[product_loop.index-1] %}
												<li>{{design[2]}}</li>
												{% endfor %}
											</ul>
										</div>
									</li>
									<li class="options-menu-item"><div class="product_count">
										<label for="t-shirt-quantity-count">Quantity:</label>
										<input type="number" name="qty" min="1" id="t-shirt-quantity-count" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
									</div></li>
								</ul>
							</div>
							<p>{{product[4]}}</p>
							<div class="product-cart-buttons">
								<button class="button button-coupon add-to-cat-button" onclick="addToCart(this)">Add to Cart</button>
								<a class="go-to-cart-from-product" href="/mycart"><button type="button" class="btn btn-warning proceed-to-cart">Checkout</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--================End Single Product Area =================-->
	{% endfor %}
    <!-- ================ Subscribe section start ================= -->
    <section style="position: relative; margin-top: 150px; margin-bottom: 100px;">
      <div class="container">
        <div class="subscribe text-center">
          <h3 class="subscribe__title">Stay in the loop for great discounts</h3>
          <div id="mc_embed_signup">
            <form method="post" class="subscribe-form form-inline mt-5 pt-1">
				{{ email_form.csrf_token }}
				{{ email_form.email(class_ = 'form-control first-input', placeholder = email_form.email.label.text, required = true, autofocus = true) }}
              <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
            </form>
          </div>

        </div>
      </div>
    </section>
    <!-- ================ Subscribe section end ================= -->
  </main>
{% endblock %}