{% extends "/aroma/base.html" %}

{% block content %}
    <main class="site-main">
    <!--================ Hero banner start =================-->
    <section class="hero-banner" style="position: relative; height: 700px; left: 20%">
      <div class="hero-image" {% if landing_image != 'None' %} style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{landing_image}});"{% endif %}>
        <div class="hero-text">
            <h3 style="color:white;" id="call-to-action">{{landing_text}}</h3>
            <button class="button" onclick="browse()" id="landing-button-1" style="margin: 10px; background-color: {{primary_color}}; border-color: {{primary_color}};">{{call_to_action}}</button>
        </div>
      </div>
    </section>

	{% for product in display_products %}
		{% set product_loop = loop %}
		<!--================ Hero banner start =================-->
		<div class="product_image_area" id="product{{product.id}}" style="margin-top: 75px;">
			<div class="container">
				<div class="row s_product_inner">
					<div class="col-lg-6">
						<div class="owl-carousel owl-theme s_Product_carousel">
							{% if product.primary_product_image is not none %}
								<div class="single-prd-item">
									<img id="primary-product-image{{product_loop.index-1}}" class="img-fluid primary-image" src="{{product.primary_product_image}}" alt="">
								</div>
							{% endif %}
							{% for design in product.designs %}
								<div class="single-prd-item">
									<img id="bag-product-image{{product_loop.index-1}}" class="img-fluid" src="{{design.design_image}}" alt="">
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-lg-5 offset-lg-1">
						<div class="s_product_text">
							<div class="info-and-options">
								<div class="product-info">
									<h3 id="product-name">{{product.name}}</h3>
									<h2 id="product-price" style="color: {{primary_color}};">${{product.price}}</h2>
									<h5 class="product-in-stock"></h5>
									<h6 class="design-name">{{product.designs.first().design_name}}</h6>
								</div>
								<ul class="product-options-area">
									<li class="options-menu-item">
										<ul class="size-dropdowns">
											{% for design in product.designs %}
												{% set size_design_loop = loop %}
												<li id="{{size_design_loop.index-1}}">
													<select id="t-shirt-size" onclick="inventorySizeCheckWrapper(this)">
													{% for size in design.design_sizes %}
														<option>{{size.product_size}}</option>
													{% endfor %}
													</select>
												</li>
											{% endfor %}
										</ul>
									</li>
									<li class="options-menu-item">
										<div id="design-selection" class="card_area d-flex align-items-center">
										{% for design in product.designs %}
											<img onclick="goToSlide(this)" src="{{design.design_icon}}" class="product_design_icon">
										{% endfor %}
											<ul class="design_names" style="display: none;">
												{% for design in product.designs %}
												<li>{{design.design_name}}</li>
												<li class="design-size-list">
													<ul class="size_inventories" style="display: none;">
														{% for size in design.design_sizes %}
														<li>{{size.inventory}}</li>
														{% endfor %}
													</ul>
												</li>
												{% endfor %}
											</ul>
										</div>
									</li>
									<li class="options-menu-item"><div class="product_count">
										<label for="t-shirt-quantity-count">Quantity:</label>
										<input type="number" name="qty" min="1" id="t-shirt-quantity-count" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
									</div></li>
								</ul>
							</div>
							<p>{{product.description}}</p>
							<div class="product-cart-buttons">
								<button class="button button-coupon add-to-cat-button" style="background-color: {{primary_color}}; border-color: {{primary_color}};" onclick="addToCart(this)">Add to Cart</button>
								<a class="go-to-cart-from-product" href="/mycart"><button type="button" class="btn btn-warning proceed-to-cart">Checkout <i class="fas fa-arrow-right"></i></button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--================End Single Product Area =================-->
	{% endfor %}
    <!-- ================ Subscribe section start ================= -->
    <section style="position: relative; margin-top: 150px; margin-bottom: 100px;">
      <div class="container">
        <div class="subscribe text-center">
          <h3 class="subscribe__title">{{email_text}}</h3>
          <div id="mc_embed_signup">
            <form method="post" class="subscribe-form form-inline mt-5 pt-1">
				{{ email_form.csrf_token }}
				{{ email_form.email(class_ = 'form-control first-input', placeholder = email_form.email.label.text, required = true, autofocus = true) }}
              <button class="button button-subscribe mr-auto mb-1" type="submit" style="background-color: {{primary_color}}; border-color: {{primary_color}};">{{email_cta}}</button>
            </form>
          </div>

        </div>
      </div>
    </section>
    <!-- ================ Subscribe section end ================= -->
  </main>
{% endblock %}