{% extends "/aroma/base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="admin-container">
    <div>
        <a href="/admin"><button class="btn btn-success admin-button back-to-admin">Back To Admin Page</button></a>
    </div>
    <div class="header-container">
        <h1 class="admin-title">Landing Details</h1>
    </div>
    <br>
    <div class="card-deck">
        <a href="/change-landing-image">
            <div class="card border-primary mb-3 admin-card-width">
              <div class="card-body text-primary">
                <h5 class="card-title"><i class="far fa-image"></i> Change Landing Image</h5>
                <p class="card-text">Here you can change the main landing image of your homepage.</p>
              </div>
            </div>
        </a>
        <a href="/change-landing-text">
            <div class="card border-primary mb-3 admin-card-width">
              <div class="card-body text-primary">
                <h5 class="card-title"><i class="far fa-image"></i> Change Landing Text</h5>
                <p class="card-text">Here you can change the main landing text of your homepage.</p>
              </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}