{% extends "/aroma/base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="orders-container">
    <div>
        <a href="/admin"><button class="btn btn-success admin-button back-to-admin">Back To Admin Page</button></a>
    </div>
    <h1 class="order-header">Orders</h1>
    <div style="overflow-y:auto;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="email-column">Email</th>
                    <th class="order-date">Date Placed</th>
                    <th class="paypal-column">PayPal Order ID</th>
                    <th class="address-column">Address</th>
                    <th class="items-column">Order Items</th>
                    <th class="customer-notes-column">Customer Order Notes</th>
                    <th class="internal-notes-column">Internal Order Notes</th>
                    <th class="shipping-status-column">Shipping Status</th>
                </tr>
            </thead>
            {% for order in orders %}
            {% set order_loop = loop %}
            <tr class="order-row">
                <td><a href="mailto:{{order[1]}}">{{order[1]}}</a></td>
                <td>{{order[6]}}</td>
                <td>{{order[2]}}</td>
                <td>{{order[3]}}</td>
                <td class="item-column">
                    <button class="btn btn-info show-items-button" onclick="showThisOrderItems(this)">View Order Items</button>
                    <ul class="item-list">
                        <button type="button" onclick="closeThisItemSection(this)" class="close-order-items" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {% for item in order_items[order_loop.index-1] %}
                        {% set item_loop = loop %}
                        <li>
                            <div>Name: {{item[2]}}</div>
                            <img class="order-item-img" src="{{item[6]}}">
                            <div>Size: {{item[3]}}</div>
                            <div>Price: {{item[4]}}</div>
                            <div>Quantity: {{item[5]}}</div>
                            <div>Design: {{item[7]}}</div>
                            {% if item_loop.index != order_items[order_loop.index-1]|length %}
                            <hr>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{order[5]}}</td>
                <td>
                    <form method="post" class="internal-order-note-form">
                        {{ internal_order_note.csrf_token }}
                        <textarea class="internal-note-textarea" name="note" id="note" type="text" >{{order[4]}}</textarea>
                        {{ internal_order_note.orderID(class_ = 'form-control', value = order[0]) }}
                        <input type="submit" value="Submit Note" class="btn btn-primary internal-note-submit">
                    </form>
                </td>
                <td>
                    <form method="post" class="">
                        {{ order_status_form.csrf_token }}
                        {{ order_status_form.status(class_ = 'form-control reset_me', value = order[7]) }}
                        {{ order_status_form.orderID(class_ = 'form-control', value = order[0]) }}
                        <input type="submit" value="Submit Change" class="btn btn-primary internal-note-submit">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}