{% extends "/aroma/base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="admin-container">
    <h1>Bainbridge Island Tee Co Privacy Policy</h1>
    <p>At Bainbridge Island Tee Co, we appreciate the trust you place in us when you choose to visit our stores or use our websites and mobile applications—and we take that responsibility seriously. This Bainbridge Island Tee Co Privacy Policy (the "Policy") describes how we collect and use personal information about you when you visit our website, use our mobile application, or call us on the phone. By "personal information," we mean information that directly identifies you, such as your name, address, or email address. In this Policy, "we" and "our" mean Bainbridge Island Tee Co, Inc., and "you" means any person who visits our website, uses our mobile application, or calls us on the phone. Your information is never shared after your visit, the only third parties that your information could be made visible to are PayPal and Gmail, which are essential to the store.</p>
    <h3>What Categories of Information We Collect</h3>
    <ul>
        <li><b>Identifiers and contact information</b>, such as your name, address, phone number, or email address.</li>
        <li><b>Purchase or other commercial information</b>, such as the items you purchase, items you have altered or custom made (including measurements), shipping address, and contact information (such as for receipts or order updates).</li>
    </ul>
    <p>* We will never collect you payment information directly, that is all handled within PayPal.</p>
    <h3>How We Collect Information</h3>
    <p>We collect information about you from PayPal when you purchase products. Because we don't have customers make accounts during the checkout process, we get their addresses, emails and names from PayPal during checkout.</p>
    <h3>How we Use Information</h3>
    <p>We use your information to mail customers their purchases and send customers emails that contain their name. These emails fall into one of three categories, thank you emails, coupon emails and promotional emails.</p>
</div>
{% endblock %}