{% extends "/aroma/base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form method="post" class="form account-form">
    <h2>Reset Password</h2>
    <h5><a href="/login">Login</a></h5>
    {{ reset_form.csrf_token }}
    {{ reset_form.password(class_ = 'form-control', placeholder = reset_form.password.label.text, required = true, autofocus = true) }}
    {{ reset_form.confirm(class_ = 'form-control last-input', placeholder = reset_form.confirm.label.text, required = true) }}
    {{ reset_form.submit()}}
</form>
{% endblock %}