{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form method="post" class="form account-form">
    <h2>Administrator Registration</h2>
    <h5><a href="/login">Login</a></h5>
    {{ admin_register_form.csrf_token }}
    {{ admin_register_form.admin_code(class_ = 'form-control', placeholder = admin_register_form.admin_code.label.text, required = true) }}
    {{ admin_register_form.email(class_ = 'form-control', placeholder = admin_register_form.email.label.text, required = true) }}
    {{ admin_register_form.name(class_ = 'form-control', placeholder = admin_register_form.name.label.text) }}
    {{ admin_register_form.password(class_ = 'form-control', placeholder = admin_register_form.password.label.text, required = true) }}
    <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block">
</form>
{% endblock %}