{% extends "base.html" %}

{% block content %}
  <h1 id="cart-title">My Cart</h1>
  <nav aria-label="breadcrumb" class="banner-breadcrumb main-cart-bucket">
      <ol class="breadcrumb">
          <li class="breadcrumb-item active cart-subtitle" aria-current="page">Review your products or checkout below</li>
      </ol>

      <button class="button button-coupon scroll-to-checkout" style="background-color: {{primary_color}}; border-color: {{primary_color}};" id="scroll-to-checkout">Checkout</button>
      <!--================Cart Area =================-->
  <section class="cart_area">
      <div class="cart-container">
          <div class="cart_inner">
              <div class="table-responsive" id="cart-table">
                  <table class="table">
                      <ul>
                      <thead>
                          <tr>
                              <th scope="col" style="width: 40%">Product</th>
                              <th scope="col">Price</th>
                              <th scope="col">Size</th>
                              <th scope="col" id="design-title">Design</th>
                              <th scope="col" class="quantity_title">Quantity</th>
                              <th scope="col">Total</th>
                          </tr>
                      </thead>
                              <tbody id="cart-product-list">
                                  <tr id="default-element">
                                      <td data-title="Product">
                                          <div class="media">
                                              <div class="d-flex">
                                                  <img id="product-img" src="{{url_for('static', filename='img/cart/cart1.png')}}" style="width: 150px; margin-top: -20px; margin-bottom: -20px" alt="">
                                              </div>
                                              <div class="media-body">
                                                  <a id="product-link" href="/sample-product-page"><p id="product-name"></p></a>
                                              </div>
                                          </div>
                                      </td>
                                      <td data-title="Unit Price">
                                          <div class="product-detail"><h5 id="unit-price">$360.00</h5></div>
                                      </td>
                                      <td data-title="Size">
                                          <div class="product-detail"><h5 id="product-size">Medium</h5></div>
                                      </td>
                                      <td data-title="Design" id="cart-design-section">
                                          <div class="product-detail"><h5 id="product-design">Design 1</h5></div>
                                      </td>
                                      <td data-title="Quantity">
                                          <div class="product_count product-detail">
                                              <input class="quantity-input" type="number" name="qty" min="1" id="quantity" value="1" title="Quantity:">
                                          </div>
                                      </td>
                                      <td data-title="Total Price">
                                         <div class="product-detail"> <button type="button" class="close" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button></div>
                                          <div class="product-detail"><h5 id="product-total-price">$720.00</h5></div>
                                      </td>
                                  </tr>
                              </tbody>
                      </ul>
                          <tr style="position: relative;" class="post-cart-table">
                              <td>
                                  <a href="/"><button id="continue-shopping-btn" class="btn btn-light">Continue Shopping</button></a>
                              </td>
                              <td class="subtotal-title">
                                  <h5>Subtotal:</h5>
                              </td>
                              <td class="subtotal-value-container">
                                  <h5 id="subtotal-value">[Subtotal]</h5>
                              </td>
                              <td>
                              </td>
                          </tr>
                          <tr class="shipping_area">

                              <td>

                              </td>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>

                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>
  <!--================End Cart Area =================-->
<section class="checkout_area section-margin--small">
    <ul class="list-inline" id="payment-container">
        <li class="list-inline-item checkout-item" id="first-checkout-item">
            <div id="discount-section">
                <h4>Discounts</h4>
                <p>Receive discount codes when you sign up for our email list!</p>
                <div class="cupon_area">
                    <input style="position: relative; right: 30px;" type="text" id="discount-code-input" placeholder="Enter coupon code">
                    <button class="button button-coupon" style="background-color: {{primary_color}}; border-color: {{primary_color}};" id="apply-discount-button" onclick="applyDiscount({{discounts}})">Apply Discount</button>
                    <h6 id="discount-warning" style="display: none; color: red; margin-top: 15px;"></h6>
                </div>
                <h4>Order Notes</h4>
                <p style="font-size: 15px;">Let us know if there is anything we can do (within reason) to help improve your order or if there is anything we can do to improve the user experience of our website (optional).</p>
                <div class="cupon_area">
                    <textarea class="customer-note-textarea" type="text" id="order-note-input" placeholder="Your thoughts"></textarea>
                    <button class="button button-coupon" style="background-color: {{primary_color}}; border-color: {{primary_color}};" onclick="submitOrderNote(this)">Submit Note</button>
                </div>
            </div>
        </li>
        <li class="list-inline-item checkout-item">
            <div class="order-summary">
                <div class="order_box" style="height: 90%;">
                     <form id="cart-contents-form" method="post" action="/payment-success" onsubmit="return formatForm()">
                        <h2>Your Order</h2>
                        <ul class="list" id="checkout-product-list">
                            <li class="checkout-product-item"><a href="#" id="checkout-product-link"><label class="checkout-product-name" id="checkout-product-name" for="product-total-price-total">Fresh Blackberry</label> <span class="checkout-product-price last" id="product-total-price-total">$720.00</span></a></li>
                        </ul>
                        <ul class="list list_2" id="important-line-items-list">
                            <li><a href="#">Shipping <span>Free!</span></a></li>
                            <!--<li><a href="#">Taxes <span>TBD</span></a></li>-->
                            <li style="display: none;" id="points-list-element"><a href="#">Points Savings<span id="total-points-savings"></span></a></li>
                            <li style="display: none;" id="discount-list-element"><a href="#">Discount Savings<span id="discount-savings"></span></a></li>
                            <li><a href="#" >Total <span id="total" style="color: black;">$2210.00</span></a></li>
                        </ul>
                     </form>
                    <div>
                        <input style="position: relative; left: 3px;" type="checkbox" id="f-option4" name="selector" >
                        <label id="terms-label" for="f-option4">I’ve read and accept the </label>
                        <a href="/terms-and-conditions">terms & conditions</a>
                        <h6 id="terms-warning" style="display: none; margin-top: 0px;">Please Accept The Terms And Conditions</h6>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-inline-item checkout-item" id="last-checkout-item">
            <div id="payment-header-div">
                <h4 id="payment-header">Payment and Shipping</h4>
                <div id="paypal-button-container"></div>
                <h6>Shipping Policy</h6>
                <p>{{shipping_policy}}</p>
            </div>
        </li>
    </ul>
  </section>
  <!--================End Checkout Area =================-->
      {% endblock %}