{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="admin-form-back-to-admin">
    <a href="/change-landing-details"><button class="btn btn-success admin-button back-to-admin">Back To Landing Control</button></a>
</div>
<form method="post" class="form account-form" enctype="multipart/form-data">
    <h3>Change Home Page Text</h3>
    {{ text_form.csrf_token }}
    {{ text_form.new_landing_text(class_ = 'form-control', placeholder = text_form.new_landing_text.label.text) }}
    {{ text_form.new_call_to_action(class_ = 'form-control', placeholder = text_form.new_call_to_action.label.text) }}
    {{ text_form.new_email_text(class_ = 'form-control', placeholder = text_form.new_email_text.label.text) }}
    {{ text_form.new_email_call_to_action(class_ = 'form-control', placeholder = text_form.new_email_call_to_action.label.text) }}
    <input type="submit" value="Submit New Text" class="btn btn-primary admin-button">
</form>
{% endblock %}