{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="admin-form-back-to-admin">
    <a href="/admin"><button class="btn btn-success admin-button back-to-admin">Back To Admin Page</button></a>
</div>
<form method="post" class="form account-form" enctype="multipart/form-data">
    <h3>Change Primary Color</h3>
    {{ color_form.csrf_token }}
    <input class="form-control" type="color" id="new_color" name="new_color" value="#000000">
    <input type="submit" value="Submit New Color" class="btn btn-primary admin-button">
</form>
{% endblock %}