{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form method="post" class="form account-form">
    <h2>Login</h2>
    <h5><a href="/admin-register">Admin Register</a></h5>
    <h5><a href="/forgot">Forgot Password?</a></h5>
    {{ login_form.csrf_token }}
    {{ login_form.email(class_ = 'form-control', placeholder = login_form.email.label.text, required = true) }}
    {{ login_form.password(class_ = 'form-control', placeholder = login_form.password.label.text, required = true) }}
    <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block">
</form>
{% endblock %}