{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-block alert-error section-error-alert">
  <a class="close" data-dismiss="alert">&times;</a>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="admin-form-back-to-admin">
    <a href="/admin"><button class="btn btn-success admin-button back-to-admin">Back To Admin Page</button></a>
</div>
<form method="post" class="form account-form" enctype="multipart/form-data">
    <h3>Make a Discount</h3>
    {{ new_discount_form.csrf_token }}
    {{ new_discount_form.name(class_ = 'form-control', placeholder = new_discount_form.name.label.text) }}
    {{ new_discount_form.amount(class_ = 'form-control', placeholder = new_discount_form.amount.label.text) }}
    {{ new_discount_form.type(class_ = 'form-control', placeholder = new_discount_form.type.label.text) }}
    <input type="submit" value="Submit New Discount" class="btn btn-primary admin-button">
</form>
{% endblock %}