{% extends "base.html" %}

{% block content %}
	<!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Search Klikattat Footwear</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Search for products, blog posts and other info here</li>
            </ol>
                        <input type="text" placeholder="Invisible Socks..." style="width: 300px; height: 40px;"><button type="button" style="margin: 10px; height: 40px; background-color: #20B22B; border-color: #20B22B; border-radius: 4px; box-shadow: none !important;" class="owl-next"><i class="ti-arrow-right"></i></button>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
{% endblock %}