<div style="font-family: perpetua;">
    <img src="cid:logo" style="max-height: 50px; width: auto; margin-bottom: 100px; position: relative; left: 90%;">
    <h1>Thank you so much {{customer_name}}!!!</h1>
    <p>We appreciate your business and your time! Below are some details pertaining to your order: </p>
    <br>
    <h2>Order Details</h2>
    <h3>Shipping Address: {{address}}</h3>
    <h3>Paypal Transaction ID: {{paypalID}}</h3>
    <h3>Receipt</h3>
    <ul style="list-style-type: none;">
        {% for item in cart %}
            <li>
                <h6>{{item.ProductName}}</h6>
                <p>Design: {{item.Design}}</p>
                <p>Size: {{item.Size}}</p>
                <p>Quantity: {{item.Quantity}}</p>
                <p>Price: {{item.Price}}</p>
            </li>
        {% endfor %}
    </ul>
    <h3>Order Total: {{order_total}}</h3>
    <br>
</div>