<div style="font-family: georgia;">
    <img src="cid:logo" style="max-height: 50px; width: auto; margin-bottom: 50px; position: relative; left: 90%;">
    <h1>Thank you so much {{customer_name}}!</h1>
    <p>We appreciate your business and your time! Your merchandise should be with you in less than a week. Below are some details pertaining to your order.</p>
    <br>
    <h3>Order Details</h3>
    <p>Shipping Address: {{address}}</p>
    <p>Paypal Transaction ID: {{paypalID}}</p>
    <h3>Receipt</h3>
    <ul style="list-style-type: none; padding-left: 0px;">
        {% for item in cart %}
        {% set item_loop = loop %}
            <li style="padding-left: 0px;">
                {% if item_loop.index-1 == 0 %}
                <hr style="background-color: {{primary_color}}; height: 1px; border: none;">
                {% endif %}
                <p>Name: {{item.ProductName}}</p>
                <p>Design: {{item.Design}}</p>
                <p>Size: {{item.Size}}</p>
                <p>Quantity: {{item.Quantity}}</p>
                <p>Price: {{item.Price}}</p>
                <hr style="background-color: {{primary_color}}; height: 1px; border: none;">
            </li>
        {% endfor %}
    </ul>
    <h3>Total: ${{order_total}}</h3>
    <br>
    <p>Have a great rest of your day and thanks again!</p>
</div>