<div style="font-family: perpetua;">
    <img src="{{logo}}" style="max-height: 50px; width: auto; margin-bottom: 100px; position: relative; left: 90%;">
    <h1>Thank you so much {{customer_name}}!!!</h1>
    <p>We appreciate your business and your time! Below are some details pertaining to your order: </p>
    <br>
    <h2>Order Details</h2>
    <h3>Shipping Address: {{address}}</h3>
    <h3>Paypal Transaction ID: {{paypalID}}</h3>
    <h3>Receipt</h3>
    <ul>
        {% for item in cart %}
            <li>
                <h2>{{item.ProductName}}</h2>
                <h4>Design: {{item.Design}}</h4>
                <h4>Size: {{item.Size}}</h4>
                <h4>Quantity: {{item.Quantity}}</h4>
                <h4>Price: {{item.Price}}</h4>
            </li>
        {% endfor %}
    </ul>
    <h3>Order Total: {{order_total}}</h3>
    <br>
    <
</div>